<script lang="ts">
	import 'carbon-components-svelte/css/all.css';
	import {
		Header,
		SideNav,
		SideNavItems,
		SideNavLink,
		SkipToContent,
		Content,
		Grid,
		Row,
		Column
	} from 'carbon-components-svelte';
	import { page } from '$app/stores';

	let isSideNavOpen = false;
</script>

{#if $page.url.searchParams.get('print') === 'true'}
	<slot />
{:else}
	<Header company="IBM" platformName="Carbon Svelte" bind:isSideNavOpen>
		<svelte:fragment slot="skip-to-content">
			<SkipToContent />
		</svelte:fragment>
	</Header>
	<SideNav bind:isOpen={isSideNavOpen}>
		<SideNavItems>
			<SideNavLink text="Home" href="/" isSelected={$page?.url.pathname === '/'} />
			<SideNavLink
				text="Computers"
				href="/computers"
				isSelected={$page?.url.pathname === '/computers'}
			/>
		</SideNavItems>
	</SideNav>
	<Content>
		<Grid>
			<Row>
				<Column>
					<slot />
				</Column>
			</Row>
		</Grid>
	</Content>
{/if}
