<script lang="ts">
	import type { PageData } from './$types';
	import {
		Loading,
		TableContainer,
		Table,
		TableRow,
		TableCell,
		TableHead,
		TableHeader,
		TableBody,
		Form,
		TextInput,
		Button
	} from 'carbon-components-svelte';
    import Search from "carbon-icons-svelte/lib/Search.svelte";
	export let data: PageData;
</script>

{#await data.computers}
	<Loading withOverlay={false} />
{:then computers}
    <Form method="GET">
        <TextInput labelText="Computer Name" name="computerName" />
        <Button icon={Search} kind="ghost" type="submit">Search</Button>
    </Form>
	<TableContainer>
		<Table>
			<TableHead>
				<TableRow>
					<TableHeader>Computer Name</TableHeader>
					<TableHeader>Brand</TableHeader>
					<TableHeader>Model</TableHeader>
					<TableHeader>Operating System</TableHeader>
					<TableHeader>Serial</TableHeader>
				</TableRow>
			</TableHead>
			<TableBody>
				{#each Object.entries(computers.data.data) as [index, computer]}
					<TableRow>
						<TableCell>
							<a href="/computers/{index}">
								{computer['Computer.name']}
							</a>
						</TableCell>
						<TableCell>{computer['Computer.Manufacturer.name']}</TableCell>
						<TableCell>{computer['Computer.ComputerModel.name']}</TableCell>
						<TableCell>{computer['Computer.Item_OperatingSystem.OperatingSystem.name']}</TableCell>
						<TableCell>{computer['Computer.serial']}</TableCell>
					</TableRow>
				{/each}
			</TableBody>
		</Table>
	</TableContainer>
{/await}
