<script lang="ts">
	import type { PageData } from './$types';
	import { Button, Form, Checkbox } from 'carbon-components-svelte';
	import Checkmark from 'carbon-icons-svelte/lib/Checkmark.svelte';
	import Printer from 'carbon-icons-svelte/lib/Printer.svelte';
	export let data: PageData;

	/**
	 * Autoprint, uncomment before deployment.
	 */
	import { page } from '$app/stores';
	import { onMount } from 'svelte';

	let scrollHeight = 0;
	let innerHeight = 0;
	onMount(() => {
		scrollHeight = document.body.scrollHeight;
		innerHeight = window.innerHeight;
		// Add event listener for before print to set the page numbers
		window.addEventListener('beforeprint', setPageNumbers);
		// Run setPageNumbers after DOM content is fully loaded
		document.addEventListener('DOMContentLoaded', setPageNumbers);
		if ($page.url.searchParams.get('print')) window.print();
	});

	// Function to set page numbers dynamically
	function setPageNumbers() {
		const bodyHeight = scrollHeight;
		const pageHeight = innerHeight;
		const totalPages = Math.ceil(bodyHeight / pageHeight);
		const pageNumberElements = document.querySelectorAll('.page-number');
		pageNumberElements.forEach((element, index) => {
			element.textContent = 'Page 1 of 1';
		});
	}
</script>

<Form method="GET">
	<div class="glpi-container bordered-content">
		<!-- Centered Text Elements with Specific Font Sizes -->
		<p class="center-text largest-font bold">CENTRO ESCOLAR UNIVERSITY</p>
		<p class="center-text smaller-font bold" style="margin-top: -10px;">
			Manila * Malolos * Makati
		</p>
		<p class="center-text smaller-font bold" style="margin: 15px;">Equipment Repair/Service Card</p>
		<div class="center-text underlined largest-font bold" style="width: 70%;">
			{data.location.data['name'] ?? 'ICT Department'}
		</div>
		<p class="center-text smallest-font" style="margin-bottom: 8px;">
			(Office/School/College/Department/Section)
		</p>

		<!-- Updated GLPI details presentation -->
		<div class="glpi-details">
			<p>
				<span class="label bold">Equipment</span>:
				<span class="underlined-data">CPU, Mouse, Keyboard, Monitor</span>
			</p>
			<p>
				<span class="label bold">Equipment Number</span>:
				<span class="underlined-data">{data.computer.data['name']}</span>
			</p>
			<p>
				<span class="label bold">Model</span>:
				<span class="underlined-data"
					>{data.manufacturer.data['name']} - {data.model.data['name']}</span
				>
			</p>
			<p>
				<span class="label bold">Serial Number</span>:
				<span class="underlined-data">{data.computer.data['serial']}</span>
			</p>
			<p>
				<span class="label bold">Location</span>:
				<span class="underlined-data"
					>{data.location.data['completename'] ?? '- no location -'}</span
				>
			</p>
			<p>
				<span class="label bold">Date Acquired</span>:
				<span class="underlined-data"
					>{data.infocom.data[0] && data.infocom.data[0]['delivery_date']
						? data.infocom.data[0]['delivery_date']
						: '-'}</span
				>
			</p>
			<p>
				<span class="label bold">Unit Cost</span>:
				<span class="underlined-data"
					>{data.infocom.data[0] && data.infocom.data[0]['value']
						? parseFloat(data.infocom.data[0]['value']).toLocaleString('en-PH', {
								style: 'currency',
								currency: 'PHP'
							})
						: '-'}</span
				>
			</p>
		</div>

		<!-- Adjusted spacing -->
		<div class="spacer"></div>

		<table class="glpi-tickets smaller-font-table">
			<thead>
				<tr>
					<th rowspan="2" class="no-print">#</th>
					<th rowspan="2" class="wide-column">Date</th>
					<th rowspan="2">Remarks</th>
					<th colspan="2">Preventive Maintenance</th>
					<th rowspan="2">Cost of Repair</th>
					<th rowspan="2" class="wide-column">Serviced By</th>
				</tr>
				<tr>
					<th>Yes</th>
					<th>No</th>
				</tr>
			</thead>
			<tbody>
				{#each data.tickets as ticket}
					<tr>
						<td class="no-print"><Checkbox name="tickets[]" value={ticket.data['id']} /></td>
						<td>{ticket.data['date']}</td>
						<td>{ticket.data['name']}</td>
						{#if ticket.data['name'].match(/prevent.*maint/i)}
							<td><Checkmark /></td>
							<td></td>
						{:else}
							<td></td>
							<td><Checkmark /></td>
						{/if}
						<td><!-- TODO: add cost of ticket --></td>
						<td class="ticket-users">
							<ul>
								{#each ticket.data['users'] as user}
									<li>{user.realname}, {user.firstname}</li>
								{/each}
							</ul>
						</td>
					</tr>
				{/each}
				<!-- Add blank rows to fill the table until the bottom of the page -->
				{#each Array(21 - data.tickets.length) as _}
					<tr class="empty">
						<td class="no-print"></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
					</tr>
				{/each}
			</tbody>
		</table>
		<div class="footer">
			<p class="footer-text">QPF 024</p>
			<p class="footer-text">09/01/2016</p>
			<p class="footer-text page-number"></p>
		</div>
	</div>
	<div class="no-print">
		<input type="hidden" name="print" value="true" />
		<Button icon={Printer} kind="ghost" iconDescription="Print" type="submit">Print</Button>
	</div>
</Form>

<style>
	@media print {
		.no-print,
		.no-print * {
			display: none !important;
		}
		.bordered-content {
			border: 1px solid black;
			margin: 20px;
			padding: 20px;
		}
	}

	/* Centered Text Elements */
	.center-text {
		text-align: center;
	}

	/* Bold Text */
	.bold {
		font-weight: bold;
	}

	/* Specific Font Sizes for Different Elements */
	.largest-font {
		font-size: 1.3em;
		margin-bottom: 0.5em;
	}

	.smaller-font {
		font-size: 1em;
	}

	.smallest-font {
		font-size: 0.9em;
	}

	/* Underlined and Centered Text for ICT Department */
	.underlined {
		text-align: center;
		border-bottom: 1px solid black;
		display: block;
		width: 90%; /* Adjust the width to barely reach the margins */
		margin: 0 auto 4px auto; /* Center the line and add margin */
	}

	/* Underlined Data Fields */
	.underlined-data {
		border-bottom: 1px solid black;
		display: inline-block;
		width: calc(100% - 200px); /* Set to a fixed width */
		margin-left: 5px;
		margin-right: 5px;
	}

	/* Flexbox styling for GLPI details */
	.glpi-details {
		display: flex;
		flex-direction: column;
		gap: 4px;
		margin-bottom: 8px; /* Adjust spacing between details and the next section */
	}

	.glpi-details .label {
		display: inline-block;
		width: 200px;
		text-align: left; /* Align labels to the left */
		font-weight: bold; /* Make labels bold */
	}

	.glpi-details p {
		display: flex;
		align-items: center;
	}

	/* Add spacer between GLPI details and tables */
	.spacer {
		height: 8px; /* Adjust spacing between details and table */
	}

	/* Table Styling */
	table {
		border: 1px solid black;
		border-collapse: collapse;
		width: 100%; /* Extend to the full width of the page */
	}

	th,
	td {
		border: 1px solid black;
		padding: 0; /* Remove padding inside table cells */
		text-align: center; /* Center text horizontally */
		vertical-align: middle; /* Center text vertically */
		height: 25px; /* Set a fixed height for all rows */
	}

	/* Bold text for table headers */
	th {
		font-weight: bold;
	}

	/* Smaller Font Size for Table */
	.smaller-font-table th,
	.smaller-font-table td {
		font-size: 0.8em;
	}

	/* Ensure blank rows have the same height as rows with data */
	tr.empty td {
		height: 25px; /* Match height with other rows */
	}

	/* Footer styling */
	.footer {
		position: relative;
		margin-top: 1px;
		text-align: left;
	}

	.footer-text {
		margin: 0px !important; /* Reduce top and bottom margin */
		font-size: 0.8em; /* Smaller font size */
		font-weight: bold; /* Bold font weight */
	}

	/* Page number styling */
	.page-number {
		position: absolute;
		right: 0;
		bottom: 0;
		margin: 2px 10px; /* Adjust the margin to place the text appropriately */
		font-size: 0.8em; /* Smaller font size */
		font-weight: bold; /* Bold font weight */
	}
</style>
